#start-page {
    width : 100vw;
    height: 100vh;
}

#start-page .page-header .header-content {
    margin-bottom: 6.4rem;
}

#start-page main {
    width        : 100%;
    max-width    : 74rem;
    border-radius: 0.8rem;
    margin       : -3.2rem auto 3.2rem;
    padding-top  : 6.4rem;
    overflow     : hidden;
}

div.modal {
    width        : 90%;
    margin       : 64px auto;
    background   : var(--color-primary);
    border-radius: 30px;
    padding      : 3rem 3rem;
    text-align   : center;
}

div.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
    background: transparent;
}

div.modal-content strong {
    font       : 700 3.6rem Archivo;
    line-height: 4.2rem;
    color      : var(--color-title-in-primary);
}

div.modal-content p {
    margin-top : 2.4rem;
    color      : var(--color-text-in-primary);
    max-width  : 60rem;
    font-size  : 2rem;
    line-height: 2.7rem;

}

div.modal-content h4 {
    margin-top: 1.6rem;
    color     : var(--color-text-in-primary);
}

div.google-data-studio {
    position      : relative;
    padding-bottom: 56.25%;
    height        : 0;
    overflow      : hidden;
}

div.google-data-studio iframe,
div.google-data-studio object,
div.google-data-studio embed {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 90%;
}

@media (min-width: 700px) {
    #start-page {
        max-width: 100vw;
    }

    #start-page .page-header .header-content {
        margin-bottom: 0;
    }

    #start-page main {
        max-width: 140rem;
    }

    div.modal-content p {
        max-width  : 60rem;
        font-size  : 2.2rem;
        line-height: 3rem;
    }
}